---
import Item from "../Item.astro";
const { items, limite, path } = Astro.props;
const itemsLimite = items.slice(0, limite);
---

<div>
  {
    itemsLimite.map((item) => {
      return <Item item={item} />;
    })
  }
  <div>
    <a href={path}>Ver mas</a>
  </div>
</div>
