---
const { heroMission } = Astro.props;
---

<div>
  <div>
    <h1>{heroMission.title}</h1>
    <p>{heroMission.description}</p>
  </div>
  <div>
    <img src={heroMission.img} alt={heroMission.description} />
  </div>
</div>
