---
/** Navbar */
import { routes } from "../../data";
import Navbar from "./Navbar.astro";

/** Footer */
import { socials } from "../../data";
import Footer from "./Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Navbar routes={routes} />
    <main>
      <slot />
    </main>
    <Footer socials={socials} />
  </body>
</html>
