---
const { routes } = Astro.props;
---

<nav>
  <div>
    <a href="/"> </a>
  </div>
  <ul>
    {
      routes.map((route) => {
        return (
          <li>
            <a href={route.path}>{route.name}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
