---
import type itemRoute from "../../interface/itemRoute";
import itemInfo from "../../interface/itemInfo";
import itemSocial from "../../interface/itemSocial";

interface Props {
  routes: itemRoute[];
  info: item
}
const { routes } = Astro.glob;
---

<nav>
  <div>
    <a href="/">
      {}
    </a>
  </div>
</nav>
