---
import FormContact from "../components/layouts/FormContact.astro";
import Layout from "../components/layouts/Layout.astro";
---

<Layout>
  <div>
    <h1>Contactanos</h1>
  </div>
  <FormContact />
</Layout>
